h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.oe-sidebar h2 {
	border-bottom: 5px solid #f7931d;
}

.top {
	height: 10px;
	width: 100%;
	background: #f7931d;
}

.header {
	width: 100%;
	padding:10px 0;
}

.gray-container {
	background: #ebebeb;
	padding: 20px 0;
	margin-bottom: 20px;
}

.secondary-container {
	padding-bottom: 0px;
}

.row-bg {
	background: url('../images/body-bg.png') repeat-y;
	background-size:contain;
	background-position:center;
}

.page-title {
	font-size: 22px;
	color: #fff;
}

.navbar-brand {
	padding-left: 0;
}

.navbar-brand img {
	width: 300px;
	height: auto;
	margin-right: 20px;
}

.navbar-nav {
	margin-top: 5px;
}

.navbar-oe {
	margin-bottom: 10px;
}

.nav>li>a {
	color: #8ab23f;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: #8ab23f;
	color: #fff;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: #8ab23f;
	border-color: #428bca;
}

.carousel-indicators {
	bottom: -10px;
}

.footer {
	width: 100%;
	padding: 10px 0;
	margin-top: 20px;
	background: #8ab23f;
}

/*

Blue:	009096
Green:	8ab23f
Orange:	d47327
GrayD:	666666
GrayL:	a9a5a4

*/

@media screen and (max-width: 991px) {
	.row-bg {
		background: #fff;
	}

	.navbar-brand img {
		margin-right: 0px;
	}
}